ul {
  list-style-type: none;
}

li {
  border: 1px solid black;
  margin: 5px auto;
  padding: 10px;
}

h5 {
  color: darkorange;
  font-weight: bolder;
}

.selected {
  background: lightgoldenrodyellow;
}
